<div class="sm:w-1/2 w-full">
  <img class="w-full sm:h-full object-cover"
       alt="image CheckEmail"
       priority
       width="695" height="956"
       [ngSrc]="'assets/images/check-email-page.png'"
       i18n-alt="@@imageLogin">
</div>
<div class="sm:w-1/2 w-full flex flex-col items-center px-4">
  <div class="sm:pt-[90px] mb-10 sm:mb-[120px] w-xl max-w-full">
    <h1 class="font-semibold  font-coresans text-3xl sm:text-4xl text-left">Check Email</h1>
    <h3 class="color-text-base mt-[30px] font-family text-base sm:text-sm text-left">Please check your email inbox
      and click on the provided link to reset your
      password. <br> If you don’t receive email, <a [routerLink]="['/#']"
                                                    class="font-bold text-[#8a33fd] cursor-pointer">Click here to
        resend </a></h3>
    <div class="flex items-center text-base font-family text-left mt-[30px] color-text-base">
      <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.58325 1.25L0.716268 4.11698C0.504734 4.32852 0.504734 4.67148 0.716268 4.88302L3.58325 7.75"
              stroke="#3C4242" stroke-width="0.975" stroke-linecap="round" />
      </svg>
      <span class="ml-2">Back to </span>&nbsp;<a [routerLink]="['/login']" class="underline cursor-pointer">
      Login</a>
    </div>
  </div>
</div>
