<section class="flex flex-col sm:flex-row min-h-screen overflow-hidden">
  <div class="sm:w-1/2 w-full">
    <img class="w-full sm:h-full object-cover"
         alt="image Verification"
         priority
         width="695" height="695"
         [ngSrc]="'assets/images/verification-page.png'"
         i18n-alt="@@imageLogin">
  </div>
  <div class="sm:w-1/2 w-full flex flex-col items-center px-4">
    <div class="sm:pt-[90px] mb-10 sm:mb-[120px] w-xl max-w-full">
      <h1 class="font-semibold  font-coresans text-3xl sm:text-4xl text-left">Verification</h1>
      <h3 class="color-text-base mt-[10px] font-family text-base sm:text-sm text-left">The code was sent to your Email, enter it to confirm your account.</h3>
      <div class="mb-[30px] mt-[30px] flex flex-col gap-2 color-text-base">
        <label class="font-normal font-family text-lg" for="verification">Verification Code</label>
        <input pInputText type="number" id="verification" class="auth-input"
               aria-describedby="verification-help" />
      </div>
      <button type="button"
              class="w-[167px] bg-purple-600 text-white text-lg p-3 rounded-lg mt-[30px] cursor-pointer">
        Verify Code
      </button>
    </div>
  </div>
</section>

