@font-face {
  src: url("../fonts/Causten-Semi-Bold.ttf");
  font-family: Causten;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Causten-Medium.ttf");
  font-family: Causten;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Causten-Regular.ttf");
  font-family: Causten;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/CoreSans-Bold.otf");
  font-family: CoreSansC;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/CoreSans-Regular.otf");
  font-family: CoreSansC;
  font-weight: 400;
}


