@font-face {
  src: url("../fonts/Causten-Semi-Bold.ttf");
  font-family: Causten;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Causten-Medium.ttf");
  font-family: Causten;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Causten-Regular.ttf");
  font-family: Causten;
  font-weight: 400;
}

@font-face {
  font-family: "CoreSans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/CoreSansC-65Bold.woff2") format("woff2"),
  url("/assets/fonts/CoreSansC-65Bold.woff") format("woff");
}

@font-face {
  font-family: "CoreSans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/CoreSans-Regular.otf") format("truetype");
}


