<p-accordion
  class="flex flex-col w-[295px] !text-[#807d7e]"
  [value]="['0']"
  [multiple]="true"
>
  <p-accordion-panel value="0">
    <p-accordion-header>
      Filter
    </p-accordion-header>
    <p-accordion-content>
      <div
        class="relative"
        (mouseenter)="showOverlay($event)"
        (mouseleave)="hideOverlay()"
      >
        <span class="cursor-pointer">Tops ></span>

        <!-- overlay теперь внутри того же контейнера -->

      </div>
    </p-accordion-content>
  </p-accordion-panel>
  <!-- Остальные панели -->
  <p-accordion-panel value="1">
    <p-accordion-header>Price</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по цене</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="2">
    <p-accordion-header>Colors</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по цвету</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="3">
    <p-accordion-header>Size</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по размеру</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="4">
    <p-accordion-header>Dress Style</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по стилю</p>
    </p-accordion-content>
  </p-accordion-panel>

</p-accordion>
<p-overlayPanel #op [showCloseIcon]="false" [dismissable]="false">
  <p-tieredMenu
    [model]="items"
    [popup]="false"
    styleClass="w-[200px]"
  ></p-tieredMenu>
</p-overlayPanel>
