<p-accordion
  class="flex flex-col w-[295px] !text-[#807d7e]"
  [value]="openedPanels"
  [multiple]="true"
  (valueChange)="onAccordionChange($event)"
>
  <p-accordion-panel value="0">
    <p-accordion-header>Filter</p-accordion-header>
    <p-accordion-content>
      <p-tieredMenu [model]="items" styleClass="custom-tiered-menu" appendTo="body"></p-tieredMenu>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="1">
    <p-accordion-header>Price</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по цене</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="2">
    <p-accordion-header>Colors</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по цвету</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="3">
    <p-accordion-header>Size</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по размеру</p>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="4">
    <p-accordion-header>Dress Style</p-accordion-header>
    <p-accordion-content>
      <p>Фильтр по стилю</p>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>


